{
  "name": "docs",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version": "v1",
  "rootUrl": "https://docs.googleapis.com/",
  "revision": "20260909",
  "version_module": true,
  "resources": {
    "documents": {
      "methods": {
        "batchUpdate": {
          "path": "v1/documents/{documentId}:batchUpdate",
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "id": "docs.documents.batchUpdate",
          "parameterOrder": [
            "documentId"
          ],
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "documentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the document to update.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "id": "docs.documents.create",
          "request": {
            "$ref": "Document"
          },
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "response": {
            "$ref": "Document"
          },
          "path": "v1/documents",
          "flatPath": "v1/documents"
        },
        "get": {
          "path": "v1/documents/{documentId}",
          "httpMethod": "GET",
          "parameters": {
            "suggestionsViewMode": {
              "type": "string",
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "location": "query",
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ],
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used."
            },
            "documentId": {
              "description": "The ID of the document to retrieve.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includeTabsContent": {
              "type": "boolean",
              "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Document"
          },
          "parameterOrder": [
            "documentId"
          ],
          "id": "docs.documents.get",
          "description": "Gets the latest version of the specified document.",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "v1/documents/{documentId}"
        }
      }
    }
  },
  "title": "Google Docs API",
  "canonicalName": "Docs",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "DeletePositionedObjectRequest": {
      "description": "Deletes a PositionedObject from the document.",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the positioned object to delete."
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      },
      "id": "DeletePositionedObjectRequest"
    },
    "TabProperties": {
      "type": "object",
      "id": "TabProperties",
      "properties": {
        "tabId": {
          "description": "The immutable ID of the tab.",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based index of the tab within the parent."
        },
        "nestingLevel": {
          "format": "int32",
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "type": "integer"
        },
        "title": {
          "type": "string",
          "description": "The user-visible name of the tab."
        },
        "iconEmoji": {
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon.",
          "type": "string"
        },
        "parentTabId": {
          "type": "string",
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents."
        }
      },
      "description": "Properties of a tab."
    },
    "Request": {
      "properties": {
        "insertDate": {
          "$ref": "InsertDateRequest",
          "description": "Inserts a date."
        },
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        },
        "pinTableHeaderRows": {
          "$ref": "PinTableHeaderRowsRequest",
          "description": "Updates the number of pinned header rows in a table."
        },
        "insertPerson": {
          "description": "Inserts a person mention.",
          "$ref": "InsertPersonRequest"
        },
        "updateParagraphStyle": {
          "description": "Updates the paragraph style at the specified range.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "createFooter": {
          "description": "Creates a footer.",
          "$ref": "CreateFooterRequest"
        },
        "deletePositionedObject": {
          "description": "Deletes a positioned object from the document.",
          "$ref": "DeletePositionedObjectRequest"
        },
        "deleteTab": {
          "$ref": "DeleteTabRequest",
          "description": "Deletes a document tab."
        },
        "updateDocumentTabProperties": {
          "description": "Updates the properties of a document tab.",
          "$ref": "UpdateDocumentTabPropertiesRequest"
        },
        "replaceImage": {
          "description": "Replaces an image in the document.",
          "$ref": "ReplaceImageRequest"
        },
        "replaceNamedRangeContent": {
          "$ref": "ReplaceNamedRangeContentRequest",
          "description": "Replaces the content in a named range."
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        },
        "updateSectionStyle": {
          "description": "Updates the section style of the specified range.",
          "$ref": "UpdateSectionStyleRequest"
        },
        "deleteNamedRange": {
          "$ref": "DeleteNamedRangeRequest",
          "description": "Deletes a named range."
        },
        "deleteContentRange": {
          "description": "Deletes content from the document.",
          "$ref": "DeleteContentRangeRequest"
        },
        "mergeTableCells": {
          "$ref": "MergeTableCellsRequest",
          "description": "Merges cells in a table."
        },
        "insertTableRow": {
          "$ref": "InsertTableRowRequest",
          "description": "Inserts an empty row into a table."
        },
        "insertTableColumn": {
          "$ref": "InsertTableColumnRequest",
          "description": "Inserts an empty column into a table."
        },
        "deleteHeader": {
          "description": "Deletes a header from the document.",
          "$ref": "DeleteHeaderRequest"
        },
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        },
        "updateNamedStyle": {
          "description": "Updates a named style.",
          "$ref": "UpdateNamedStyleRequest"
        },
        "deleteParagraphBullets": {
          "description": "Deletes bullets from paragraphs.",
          "$ref": "DeleteParagraphBulletsRequest"
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "replaceAllText": {
          "description": "Replaces all instances of the specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "addDocumentTab": {
          "description": "Adds a document tab.",
          "$ref": "AddDocumentTabRequest"
        },
        "insertText": {
          "$ref": "InsertTextRequest",
          "description": "Inserts text at the specified location."
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageRequest",
          "description": "Inserts an inline image at the specified location."
        },
        "updateDocumentStyle": {
          "$ref": "UpdateDocumentStyleRequest",
          "description": "Updates the style of the document."
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of columns in a table.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "insertTable": {
          "$ref": "InsertTableRequest",
          "description": "Inserts a table at the specified location."
        },
        "deleteFooter": {
          "description": "Deletes a footer from the document.",
          "$ref": "DeleteFooterRequest"
        },
        "createFootnote": {
          "description": "Creates a footnote.",
          "$ref": "CreateFootnoteRequest"
        },
        "insertRichLink": {
          "$ref": "InsertRichLinkRequest",
          "description": "Insert a rich link."
        },
        "insertSectionBreak": {
          "description": "Inserts a section break at the specified location.",
          "$ref": "InsertSectionBreakRequest"
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "insertPageBreak": {
          "$ref": "InsertPageBreakRequest",
          "description": "Inserts a page break at the specified location."
        },
        "updateTextStyle": {
          "description": "Updates the text style at the specified range.",
          "$ref": "UpdateTextStyleRequest"
        },
        "unmergeTableCells": {
          "description": "Unmerges cells in a table.",
          "$ref": "UnmergeTableCellsRequest"
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        }
      },
      "id": "Request",
      "description": "A single update to apply to a document.",
      "type": "object"
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "format": "int32",
          "description": "The number of occurrences changed by replacing all text.",
          "type": "integer"
        }
      },
      "id": "ReplaceAllTextResponse",
      "description": "The result of replacing text.",
      "type": "object"
    },
    "DeleteTabRequest": {
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well.",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab to delete."
        }
      },
      "id": "DeleteTabRequest",
      "type": "object"
    },
    "AddDocumentTabResponse": {
      "type": "object",
      "description": "The result of adding a document tab.",
      "properties": {
        "tabProperties": {
          "description": "The properties of the newly added tab.",
          "$ref": "TabProperties"
        }
      },
      "id": "AddDocumentTabResponse"
    },
    "Equation": {
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A ParagraphElement representing an equation.",
      "id": "Equation"
    },
    "NamedRange": {
      "properties": {
        "ranges": {
          "type": "array",
          "description": "The ranges that belong to this named range.",
          "items": {
            "$ref": "Range"
          }
        },
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range."
        }
      },
      "id": "NamedRange",
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.",
      "type": "object"
    },
    "ImagePropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "contrastSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to contrast."
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "transparencySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to transparency."
        },
        "cropPropertiesSuggestionState": {
          "$ref": "CropPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
        },
        "contentUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_uri."
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        }
      },
      "id": "ImagePropertiesSuggestionState",
      "type": "object"
    },
    "NestingLevelSuggestionState": {
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "glyphTypeSuggested": {
          "description": "Indicates if there was a suggested change to glyph_type.",
          "type": "boolean"
        },
        "glyphFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_format."
        },
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "glyphSymbolSuggested": {
          "description": "Indicates if there was a suggested change to glyph_symbol.",
          "type": "boolean"
        },
        "startNumberSuggested": {
          "description": "Indicates if there was a suggested change to start_number.",
          "type": "boolean"
        },
        "bulletAlignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to bullet_alignment."
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        }
      },
      "id": "NestingLevelSuggestionState",
      "type": "object"
    },
    "UpdateNamedStyleRequest": {
      "properties": {
        "namedStyle": {
          "description": "The document style to update.",
          "$ref": "NamedStyle"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The document tab to update. By default, the update is applied to the first tab."
        }
      },
      "id": "UpdateNamedStyleRequest",
      "description": "Updates a named style.",
      "type": "object"
    },
    "SectionBreak": {
      "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break.",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sectionStyle": {
          "description": "The style of the section after this section break.",
          "$ref": "SectionStyle"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SectionBreak",
      "type": "object"
    },
    "DocumentTab": {
      "properties": {
        "body": {
          "description": "The main body of the document tab.",
          "$ref": "Body"
        },
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "description": "The headers in the document tab, keyed by header ID.",
          "type": "object"
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "positionedObjects": {
          "description": "The positioned objects in the document tab, keyed by object ID.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "type": "object"
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "The named styles of the document tab."
        },
        "inlineObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "The inline objects in the document tab, keyed by object ID."
        },
        "namedRanges": {
          "description": "The named ranges in the document tab, keyed by name.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "type": "object"
        },
        "suggestedNamedStylesChanges": {
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          }
        },
        "footers": {
          "description": "The footers in the document tab, keyed by footer ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          }
        },
        "suggestedDocumentStyleChanges": {
          "type": "object",
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          }
        },
        "footnotes": {
          "description": "The footnotes in the document tab, keyed by footnote ID.",
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object"
        },
        "lists": {
          "description": "The lists in the document tab, keyed by list ID.",
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "A tab with document contents.",
      "id": "DocumentTab"
    },
    "PositionedObjectPositioning": {
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "properties": {
        "leftOffset": {
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        },
        "layout": {
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ],
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "description": "The layout of this positioned object.",
          "type": "string"
        },
        "topOffset": {
          "$ref": "Dimension",
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        }
      },
      "type": "object",
      "id": "PositionedObjectPositioning"
    },
    "SuggestedPositionedObjectProperties": {
      "description": "A suggested change to PositionedObjectProperties.",
      "properties": {
        "positionedObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion.",
          "$ref": "PositionedObjectPropertiesSuggestionState"
        },
        "positionedObjectProperties": {
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "PositionedObjectProperties"
        }
      },
      "id": "SuggestedPositionedObjectProperties",
      "type": "object"
    },
    "Footer": {
      "id": "Footer",
      "description": "A document footer.",
      "type": "object",
      "properties": {
        "content": {
          "description": "The contents of the footer. The indexes for a footer's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "footerId": {
          "description": "The ID of the footer.",
          "type": "string"
        }
      }
    },
    "Header": {
      "description": "A document header.",
      "type": "object",
      "properties": {
        "headerId": {
          "description": "The ID of the header.",
          "type": "string"
        },
        "content": {
          "description": "The contents of the header. The indexes for a header's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "id": "Header"
    },
    "DeleteTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted."
        }
      },
      "id": "DeleteTableColumnRequest",
      "description": "Deletes a column from a table.",
      "type": "object"
    },
    "CreateFootnoteRequest": {
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
      "id": "CreateFootnoteRequest",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        },
        "location": {
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "type": "object"
    },
    "SizeSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "type": "object",
      "properties": {
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        },
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        }
      },
      "id": "SizeSuggestionState"
    },
    "HeadingLink": {
      "properties": {
        "id": {
          "description": "The ID of a heading in this document.",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of the tab containing this heading.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HeadingLink",
      "description": "A reference to a heading in this document."
    },
    "TableCellStyleSuggestionState": {
      "type": "object",
      "id": "TableCellStyleSuggestionState",
      "properties": {
        "borderLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_left."
        },
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to background_color."
        },
        "rowSpanSuggested": {
          "description": "Indicates if there was a suggested change to row_span.",
          "type": "boolean"
        },
        "paddingTopSuggested": {
          "description": "Indicates if there was a suggested change to padding_top.",
          "type": "boolean"
        },
        "paddingRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_right."
        },
        "paddingLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_left."
        },
        "borderRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_right."
        },
        "borderTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_top."
        },
        "paddingBottomSuggested": {
          "description": "Indicates if there was a suggested change to padding_bottom.",
          "type": "boolean"
        },
        "contentAlignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_alignment."
        },
        "borderBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_bottom."
        },
        "columnSpanSuggested": {
          "description": "Indicates if there was a suggested change to column_span.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "NamedStyles": {
      "id": "NamedStyles",
      "type": "object",
      "properties": {
        "styles": {
          "items": {
            "$ref": "NamedStyle"
          },
          "description": "The named styles. There's an entry for each of the possible named style types.",
          "type": "array"
        }
      },
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles."
    },
    "DateElementPropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "timestampSuggested": {
          "description": "Indicates if there was a suggested change to timestamp.",
          "type": "boolean"
        },
        "timeFormatSuggested": {
          "description": "Indicates if there was a suggested change to time_format.",
          "type": "boolean"
        },
        "timeZoneIdSuggested": {
          "description": "Indicates if there was a suggested change to time_zone_id.",
          "type": "boolean"
        },
        "dateFormatSuggested": {
          "description": "Indicates if there was a suggested change to date_format.",
          "type": "boolean"
        },
        "localeSuggested": {
          "description": "Indicates if there was a suggested change to locale.",
          "type": "boolean"
        }
      },
      "id": "DateElementPropertiesSuggestionState"
    },
    "DateElementProperties": {
      "description": "Properties of a DateElement.",
      "type": "object",
      "id": "DateElementProperties",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The point in time to represent, in seconds and nanoseconds since Unix epoch: January 1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the timestamp is adjusted according to the time zone. For example, a timestamp of `18000` with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE` would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to `America/New_York` will instead be `1970-01-01 12:00 AM`."
        },
        "timeZoneId": {
          "type": "string",
          "description": "The time zone of the DateElement, as defined by the Unicode Common Locale Data Repository (CLDR) project. For example, `America/New_York`. If unset, the default time zone is `etc/UTC`."
        },
        "timeFormat": {
          "type": "string",
          "enum": [
            "TIME_FORMAT_UNSPECIFIED",
            "TIME_FORMAT_DISABLED",
            "TIME_FORMAT_HOUR_MINUTE",
            "TIME_FORMAT_HOUR_MINUTE_TIMEZONE"
          ],
          "description": "Determines how the time part of the DateElement will be displayed in the document. If unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown.",
          "enumDescriptions": [
            "The time format is unspecified.",
            "Indicates that the date does not have a time.",
            "The time format shows the hour and minute. For example, \"Jan 1, 1970 12:00 PM\".",
            "The time format shows the hour, minute, and timezone. For example, \"Jan 1, 1970 12:00 PM UTC\"."
          ]
        },
        "displayText": {
          "description": "Output only. Indicates how the DateElement is displayed in the document.",
          "type": "string"
        },
        "dateFormat": {
          "enumDescriptions": [
            "The date format is unspecified.",
            "Output only. The date format is imported from an external source.",
            "The date format is an abbreviated month followed by the day. For example, \"Jan 1\".",
            "The date format is a month followed by the day. For example, \"January 01\".",
            "The date format is an abbreviated month followed by the day and the year. For example, \"Jan 1, 1970\".",
            "The date format is in ISO 8601 format. For example, \"1970-01-01\"."
          ],
          "type": "string",
          "description": "Determines how the date part of the DateElement will be displayed in the document. If unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent.",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_FORMAT_CUSTOM",
            "DATE_FORMAT_MONTH_DAY_ABBREVIATED",
            "DATE_FORMAT_MONTH_DAY_FULL",
            "DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED",
            "DATE_FORMAT_ISO8601"
          ]
        },
        "locale": {
          "description": "The language code of the DateElement. For example, `en`. If unset, the default locale is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`, `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`, `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`, `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`, `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`, `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`, `zh-HK`, `zh-TW`, `zu`, `cy`, `my`.",
          "type": "string"
        }
      }
    },
    "EmbeddedObjectBorder": {
      "description": "A border around an EmbeddedObject.",
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        },
        "propertyState": {
          "type": "string",
          "description": "The property state of the border property.",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ]
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string"
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        }
      },
      "id": "EmbeddedObjectBorder",
      "type": "object"
    },
    "TextStyleSuggestionState": {
      "properties": {
        "smallCapsSuggested": {
          "description": "Indicates if there was a suggested change to small_caps.",
          "type": "boolean"
        },
        "italicSuggested": {
          "description": "Indicates if there was a suggested change to italic.",
          "type": "boolean"
        },
        "underlineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to underline."
        },
        "strikethroughSuggested": {
          "description": "Indicates if there was a suggested change to strikethrough.",
          "type": "boolean"
        },
        "weightedFontFamilySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to weighted_font_family."
        },
        "linkSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to link."
        },
        "foregroundColorSuggested": {
          "description": "Indicates if there was a suggested change to foreground_color.",
          "type": "boolean"
        },
        "fontSizeSuggested": {
          "description": "Indicates if there was a suggested change to font_size.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to background_color."
        },
        "boldSuggested": {
          "description": "Indicates if there was a suggested change to bold.",
          "type": "boolean"
        },
        "baselineOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to baseline_offset."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "TextStyleSuggestionState"
    },
    "DeleteTableRowRequest": {
      "description": "Deletes a row from a table.",
      "type": "object",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted."
        }
      },
      "id": "DeleteTableRowRequest"
    },
    "InlineObjectElement": {
      "type": "object",
      "id": "InlineObjectElement",
      "description": "A ParagraphElement that contains an InlineObject.",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inlineObjectId": {
          "type": "string",
          "description": "The ID of the InlineObject this element contains."
        }
      }
    },
    "BatchUpdateDocumentResponse": {
      "id": "BatchUpdateDocumentResponse",
      "description": "Response message from a BatchUpdateDocument request.",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "The ID of the document to which the updates were applied to.",
          "type": "string"
        },
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "Response"
          }
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        }
      }
    },
    "ReplaceImageRequest": {
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "type": "object",
      "id": "ReplaceImageRequest",
      "properties": {
        "imageObjectId": {
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        },
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageReplaceMethod": {
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ],
          "type": "string",
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ]
        }
      }
    },
    "TabStop": {
      "properties": {
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        },
        "offset": {
          "$ref": "Dimension",
          "description": "The offset between this tab stop and the start margin."
        }
      },
      "description": "A tab stop within a paragraph.",
      "id": "TabStop",
      "type": "object"
    },
    "InsertTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertRight": {
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.",
          "type": "boolean"
        }
      },
      "id": "InsertTableColumnRequest",
      "type": "object",
      "description": "Inserts an empty column into a table."
    },
    "EmbeddedObject": {
      "id": "EmbeddedObject",
      "description": "An embedded object in the document.",
      "properties": {
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "marginRight": {
          "description": "The right margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        },
        "embeddedDrawingProperties": {
          "$ref": "EmbeddedDrawingProperties",
          "description": "The properties of an embedded drawing."
        },
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "marginBottom": {
          "description": "The bottom margin of the embedded object.",
          "$ref": "Dimension"
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The properties of an image."
        },
        "description": {
          "type": "string",
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "embeddedObjectBorder": {
          "$ref": "EmbeddedObjectBorder",
          "description": "The border of the embedded object."
        }
      },
      "type": "object"
    },
    "InsertTextRequest": {
      "description": "Inserts text at the specified location.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "text": {
          "type": "string",
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
        },
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        }
      },
      "type": "object",
      "id": "InsertTextRequest"
    },
    "SuggestedInlineObjectProperties": {
      "description": "A suggested change to InlineObjectProperties.",
      "properties": {
        "inlineObjectProperties": {
          "$ref": "InlineObjectProperties",
          "description": "An InlineObjectProperties that only includes the changes made in this suggestion. This can be used along with the inline_object_properties_suggestion_state to see which fields have changed and their new values."
        },
        "inlineObjectPropertiesSuggestionState": {
          "$ref": "InlineObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion."
        }
      },
      "id": "SuggestedInlineObjectProperties",
      "type": "object"
    },
    "Person": {
      "type": "object",
      "properties": {
        "personProperties": {
          "description": "Output only. The properties of this Person. This field is always present.",
          "readOnly": true,
          "$ref": "PersonProperties"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this Person, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "personId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of this link."
        },
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        }
      },
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "id": "Person"
    },
    "OptionalColor": {
      "type": "object",
      "description": "A color that can either be fully opaque or fully transparent.",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
        }
      },
      "id": "OptionalColor"
    },
    "ParagraphBorder": {
      "properties": {
        "dashStyle": {
          "description": "The dash style of the border.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ]
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "padding": {
          "$ref": "Dimension",
          "description": "The padding of the border."
        }
      },
      "description": "A border around a paragraph.",
      "type": "object",
      "id": "ParagraphBorder"
    },
    "CreateFooterResponse": {
      "properties": {
        "footerId": {
          "description": "The ID of the created footer.",
          "type": "string"
        }
      },
      "description": "The result of creating a footer.",
      "id": "CreateFooterResponse",
      "type": "object"
    },
    "ListProperties": {
      "type": "object",
      "properties": {
        "nestingLevels": {
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.",
          "items": {
            "$ref": "NestingLevel"
          },
          "type": "array"
        }
      },
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "id": "ListProperties"
    },
    "TableRowStyleSuggestionState": {
      "type": "object",
      "id": "TableRowStyleSuggestionState",
      "properties": {
        "minRowHeightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to min_row_height."
        }
      },
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "SubstringMatchCriteria": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        },
        "searchByRegex": {
          "type": "boolean",
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching."
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        }
      },
      "id": "SubstringMatchCriteria",
      "description": "A criteria that matches a specific string of text in the document."
    },
    "Size": {
      "description": "A width and height.",
      "properties": {
        "height": {
          "description": "The height of the object.",
          "$ref": "Dimension"
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the object."
        }
      },
      "id": "Size",
      "type": "object"
    },
    "PositionedObjectPositioningSuggestionState": {
      "id": "PositionedObjectPositioningSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "topOffsetSuggested": {
          "description": "Indicates if there was a suggested change to top_offset.",
          "type": "boolean"
        },
        "layoutSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to layout."
        },
        "leftOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to left_offset."
        }
      }
    },
    "UpdateDocumentStyleRequest": {
      "type": "object",
      "properties": {
        "tabId": {
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document.",
          "type": "string"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "documentStyle": {
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information.",
          "$ref": "DocumentStyle"
        }
      },
      "id": "UpdateDocumentStyleRequest",
      "description": "Updates the DocumentStyle."
    },
    "SuggestedDateElementProperties": {
      "description": "A suggested change to a DateElementProperties.",
      "id": "SuggestedDateElementProperties",
      "type": "object",
      "properties": {
        "dateElementPropertiesSuggestionState": {
          "$ref": "DateElementPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion."
        },
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "TableRow": {
      "type": "object",
      "properties": {
        "suggestedTableRowStyleChanges": {
          "description": "The suggested style changes to this row, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          },
          "type": "object"
        },
        "endIndex": {
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "tableRowStyle": {
          "description": "The style of the table row.",
          "$ref": "TableRowStyle"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this row, in UTF-16 code units.",
          "format": "int32"
        },
        "tableCells": {
          "type": "array",
          "items": {
            "$ref": "TableCell"
          },
          "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table."
        }
      },
      "id": "TableRow",
      "description": "The contents and style of a row in a Table."
    },
    "Dimension": {
      "id": "Dimension",
      "properties": {
        "magnitude": {
          "format": "double",
          "description": "The magnitude.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "description": "The units for magnitude.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ]
        }
      },
      "description": "A magnitude in a single direction in the specified units.",
      "type": "object"
    },
    "Color": {
      "description": "A solid color.",
      "properties": {
        "rgbColor": {
          "$ref": "RgbColor",
          "description": "The RGB color value."
        }
      },
      "id": "Color",
      "type": "object"
    },
    "SuggestedTableRowStyle": {
      "description": "A suggested change to a TableRowStyle.",
      "properties": {
        "tableRowStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.",
          "$ref": "TableRowStyleSuggestionState"
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "type": "object",
      "id": "SuggestedTableRowStyle"
    },
    "InsertRichLinkRequest": {
      "type": "object",
      "description": "Inserts a RichLink at the specified location.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the rich link at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "richLinkProperties": {
          "$ref": "RichLinkProperties",
          "description": "The properties of the rich link to insert."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation."
        }
      },
      "id": "InsertRichLinkRequest"
    },
    "WriteControl": {
      "description": "Provides control over how write requests are executed.",
      "id": "WriteControl",
      "type": "object",
      "properties": {
        "targetRevisionId": {
          "description": "The optional target revision ID of the document the write request is applied to. If collaborator changes have occurred after the document was read using the API, the changes produced by this write request are applied against the collaborator changes. This results in a new revision of the document that incorporates both the collaborator changes and the changes in the request, with the Docs server resolving conflicting changes. When using target revision ID, the API client can be thought of as another collaborator of the document. The target revision ID can only be used to write to recent versions of a document. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 bad request error. The request should be tried again after retrieving the latest version of the document. Usually a revision ID remains valid for use as a target revision for several minutes after it's read, but for frequently edited documents this window might be shorter.",
          "type": "string"
        },
        "requiredRevisionId": {
          "type": "string",
          "description": "The optional revision ID of the document the write request is applied to. If this is not the latest revision of the document, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied."
        }
      }
    },
    "TableCell": {
      "description": "The contents and style of a cell in a Table.",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based start index of this cell, in UTF-16 code units."
        },
        "suggestedTableCellStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          },
          "description": "The suggested changes to the table cell style, keyed by suggestion ID."
        },
        "endIndex": {
          "format": "int32",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units.",
          "type": "integer"
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "content": {
          "type": "array",
          "description": "The content of the cell.",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "type": "object",
      "id": "TableCell"
    },
    "EmbeddedDrawingProperties": {
      "id": "EmbeddedDrawingProperties",
      "type": "object",
      "properties": {},
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported."
    },
    "ParagraphElement": {
      "id": "ParagraphElement",
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units."
        },
        "horizontalRule": {
          "description": "A horizontal rule paragraph element.",
          "$ref": "HorizontalRule"
        },
        "columnBreak": {
          "$ref": "ColumnBreak",
          "description": "A column break paragraph element."
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units."
        },
        "pageBreak": {
          "description": "A page break paragraph element.",
          "$ref": "PageBreak"
        },
        "richLink": {
          "$ref": "RichLink",
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)"
        },
        "autoText": {
          "description": "An auto text paragraph element.",
          "$ref": "AutoText"
        },
        "dateElement": {
          "$ref": "DateElement",
          "description": "A paragraph element that represents a date."
        },
        "equation": {
          "description": "An equation paragraph element.",
          "$ref": "Equation"
        },
        "textRun": {
          "description": "A text run paragraph element.",
          "$ref": "TextRun"
        },
        "person": {
          "$ref": "Person",
          "description": "A paragraph element that links to a person or email address."
        },
        "footnoteReference": {
          "$ref": "FootnoteReference",
          "description": "A footnote reference paragraph element."
        },
        "inlineObjectElement": {
          "$ref": "InlineObjectElement",
          "description": "An inline object paragraph element."
        }
      },
      "description": "A ParagraphElement describes content within a Paragraph."
    },
    "CreateNamedRangeResponse": {
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateNamedRangeResponse",
      "description": "The result of creating a named range."
    },
    "SectionColumnProperties": {
      "type": "object",
      "description": "Properties that apply to a section's column.",
      "id": "SectionColumnProperties",
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "Output only. The width of the column."
        },
        "paddingEnd": {
          "description": "The padding at the end of the column.",
          "$ref": "Dimension"
        }
      }
    },
    "FootnoteReference": {
      "id": "FootnoteReference",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote that contains the content of this footnote reference."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "footnoteNumber": {
          "type": "string",
          "description": "The rendered number of this footnote."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        }
      },
      "type": "object",
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote."
    },
    "PositionedObjectProperties": {
      "type": "object",
      "description": "Properties of a PositionedObject.",
      "id": "PositionedObjectProperties",
      "properties": {
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        },
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        }
      }
    },
    "ImageProperties": {
      "properties": {
        "angle": {
          "description": "The clockwise rotation angle of the image, in radians.",
          "format": "float",
          "type": "number"
        },
        "contrast": {
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "format": "float",
          "type": "number"
        },
        "brightness": {
          "format": "float",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number"
        },
        "sourceUri": {
          "type": "string",
          "description": "The source URI is the URI used to insert the image. The source URI can be empty."
        },
        "cropProperties": {
          "$ref": "CropProperties",
          "description": "The crop properties of the image."
        },
        "transparency": {
          "format": "float",
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent.",
          "type": "number"
        },
        "contentUri": {
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change.",
          "type": "string"
        }
      },
      "id": "ImageProperties",
      "description": "The properties of an image.",
      "type": "object"
    },
    "HorizontalRule": {
      "type": "object",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A ParagraphElement representing a horizontal line.",
      "id": "HorizontalRule"
    },
    "UnmergeTableCellsRequest": {
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      },
      "description": "Unmerges cells in a Table.",
      "type": "object",
      "id": "UnmergeTableCellsRequest"
    },
    "CreateFootnoteResponse": {
      "type": "object",
      "description": "The result of creating a footnote.",
      "id": "CreateFootnoteResponse",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the created footnote."
        }
      }
    },
    "EndOfSegmentLocation": {
      "id": "EndOfSegmentLocation",
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
      "properties": {
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        }
      },
      "type": "object"
    },
    "InlineObject": {
      "type": "object",
      "properties": {
        "suggestedInlineObjectPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedInlineObjectProperties"
          },
          "description": "The suggested changes to the inline object properties, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "objectId": {
          "description": "The ID of this inline object. Can be used to update an object’s properties.",
          "type": "string"
        },
        "inlineObjectProperties": {
          "description": "The properties of this inline object.",
          "$ref": "InlineObjectProperties"
        },
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        }
      },
      "description": "An object that appears inline with text. An InlineObject contains an EmbeddedObject such as an image.",
      "id": "InlineObject"
    },
    "DeleteParagraphBulletsRequest": {
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      },
      "type": "object",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "id": "DeleteParagraphBulletsRequest"
    },
    "UpdateSectionStyleRequest": {
      "description": "Updates the SectionStyle.",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`.",
          "format": "google-fieldmask"
        },
        "sectionStyle": {
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information.",
          "$ref": "SectionStyle"
        }
      },
      "type": "object",
      "id": "UpdateSectionStyleRequest"
    },
    "CreateNamedRangeRequest": {
      "properties": {
        "range": {
          "description": "The range to apply the name to.",
          "$ref": "Range"
        },
        "name": {
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateNamedRangeRequest",
      "description": "Creates a NamedRange referencing the given range."
    },
    "AddDocumentTabRequest": {
      "properties": {
        "tabProperties": {
          "description": "The properties of the tab to add. All properties are optional.",
          "$ref": "TabProperties"
        }
      },
      "id": "AddDocumentTabRequest",
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "type": "object"
    },
    "AutoText": {
      "id": "AutoText",
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of this auto text.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ]
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        }
      }
    },
    "Footnote": {
      "type": "object",
      "id": "Footnote",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote."
        },
        "content": {
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "description": "A document footnote."
    },
    "RichLink": {
      "id": "RichLink",
      "properties": {
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this link from the document. A RichLink might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this RichLink, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "richLinkProperties": {
          "readOnly": true,
          "$ref": "RichLinkProperties",
          "description": "Output only. The properties of this RichLink. This field is always present."
        },
        "richLinkId": {
          "description": "Output only. The ID of this link.",
          "readOnly": true,
          "type": "string"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this link into the document. A RichLink might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this RichLink."
        }
      },
      "type": "object",
      "description": "A link to a Google resource (such as a file in Drive, a YouTube video, or a Calendar event)."
    },
    "Bullet": {
      "type": "object",
      "properties": {
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "nestingLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The nesting level of this paragraph in the list."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph-specific text style applied to this bullet."
        }
      },
      "description": "Describes the bullet of a paragraph.",
      "id": "Bullet"
    },
    "InsertTableRequest": {
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "id": "InsertTableRequest",
      "properties": {
        "columns": {
          "type": "integer",
          "format": "int32",
          "description": "The number of columns in the table."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "rows": {
          "format": "int32",
          "description": "The number of rows in the table.",
          "type": "integer"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
        }
      },
      "type": "object"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "id": "EmbeddedObjectBorderSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "dashStyleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to dash_style."
        },
        "colorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to color."
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        }
      }
    },
    "DocumentStyle": {
      "properties": {
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "useCustomHeaderFooterMargins": {
          "type": "boolean",
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "pageSize": {
          "$ref": "Size",
          "description": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "marginLeft": {
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "background": {
          "$ref": "Background",
          "description": "The background of the document. Documents cannot have a transparent background color."
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "pageNumberStart": {
          "description": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered.",
          "format": "int32",
          "type": "integer"
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "useEvenPageHeaderFooter": {
          "description": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered.",
[...]
